* {
    padding: 0;
}

html {
    background-color: #DADADC;
}

nav {
    margin: 0 30px;
    min-width: 550px;
}

nav > ul {
    border-radius: 8px 8px 0 0;
    margin: 0 auto;
    width: 520px;
    padding: 10px 7% 0 7% !important;
}

nav ul,
nav li {
    background-color: #B8B8B8;
}

nav ul {
    list-style-type: none;
    padding: 0 3px;
}

nav li {
    display: inline-block;
    border: 1px solid #000;
    border-bottom-color: transparent;
    border-radius: 4px 4px 0 0;
    padding: 0 2px;
    text-align: center;
}

nav li.double ul {
    padding-top: 1.1em;
}

nav li.single {
    padding-top: 1.1em;
}

nav li.selected,
nav li.selected > ul {
    background-color: #DADADA;
}

nav li.clickable {
    cursor: pointer;
    text-decoration: underline;
}

nav li.clickable:hover {
    background-color: #FF0;
}
