* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #DADADC;
}

nav > ul {
    border-radius: 8px 8px 0 0;
    margin: 0 auto;
    width: 518px;
    padding: 10px 7% 0 7%;
}

nav > ul:after {
    content: '';
    display: block;
    clear: both;
}

nav ul,
nav li {
    background-color: #B8B8B8;
}

nav ul {
    list-style-type: none;
}

nav li {
    float: left;
    border: 1px solid #000;
    border-bottom-color: transparent;
    border-radius: 4px 4px 0 0;
    padding: 0 2px;
    text-align: center;
}

nav li {
    margin: 0 2px;
}

nav li.double ul,
nav li.single {
    padding-top: 1em;
}

nav li.selected,
nav li.selected > ul {
    background-color: #DADADC;
}

nav li.clickable {
    cursor: pointer;
    text-decoration: underline;
}

nav li.clickable:hover {
    background-color: #FF0;
}
